---
import Layout from "../layouts/Layout.astro";
import HeroSection from "@components/herosection.astro";
import Product from "@components/product.astro";
---

<Layout title="Welcome to Vasanthapriya Jewelry.">
  <main>
    <HeroSection />
  </main>
  <Product/>
  <section id="about" class="text-gray-600 body-font">
	<div
	  class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"
	>
	  <div class=" w-2/6 mb-10 md:mb-0">
		<img
		  class="object-cover object-center rounded"
		  alt="hero"
		  src="./about.jpg"
		/>
	  </div>
	  <div
		class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-xl items-center text-center"
	  >
		<h1
		  class="title-font sm:text-7xl text-3xl mx-auto mb-4 font-medium text-gray-900"
		>
		  About Us
		  
		</h1>
		<p class="mb-2 leading-relaxed">
			At Vasanthapriya Jewelry, we are passionate about creating jewelry that tells a story. Founded with a vision for exceptional quality and unparalleled beauty, our team of skilled artisans combines traditional craftsmanship with contemporary design to bring your dreams to life.

		</p>
	  </div>
	</div>
  </section>
  <section class="text-white body-font bg-fixed bg-center bg-cover custom-img">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap m-4 text-center">
        <div class="p-4 h-full sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-white">
           
          </h2>
          <p class="leading-relaxed"></p>
        </div>
        <div class="p-4 sm:w-2/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-white">
          
          </h2>
          <p class="leading-relaxed"></p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-white">
          </h2>
          <p class="leading-relaxed"></p>
        </div>
       
      </div>
    </div>
  </section>
  <!-- Section 4 -->
  <section class="text-gray-600 body-font ">
	<div class="container px-5 py-24 mx-auto">
	  <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Testimonials</h1>
	  <div class="flex flex-wrap -m-4">
		<div class="p-4 md:w-1/2 w-full">
		  <div class="h-full bg-gray-100 p-8 rounded">
			<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
			  <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
			</svg>
			<p class="leading-relaxed mb-6">Absolutely stunning! I couldn't be happier with my purchase from Vasanthapriya Jewelry.</p>
			<a class="inline-flex items-center">
			  <img alt="testimonial" src="https://dummyimage.com/106x106" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
			  <span class="flex-grow flex flex-col pl-4">
				<span class="title-font font-medium text-gray-900"> Emily R.</span>
			  </span>
			</a>
		  </div>
		</div>
		<div class="p-4 md:w-1/2 w-full">
		  <div class="h-full bg-gray-100 p-8 rounded">
			<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
			  <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
			</svg>
			<p class="leading-relaxed mb-6">Exquisite craftsmanship and impeccable service. I highly recommend Vasanthapriya Jewelry to anyone looking for luxury pieces.</p>
			<a class="inline-flex items-center">
			  <img alt="testimonial" src="https://dummyimage.com/107x107" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
			  <span class="flex-grow flex flex-col pl-4">
				<span class="title-font font-medium text-gray-900">James L</span>
			  </span>
			</a>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  

</Layout>
<style>
	.custom-img{
		background-image: url("/statics.jpg");
	}
</style>